<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://www.luga.de/Aktionen/LIT-2016/" target="_blank"><img src="images/kde-logo.png"/></a> Augsburger Linux-Infotag 2016
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Kai Uwe Broulik represented KDE at the open source conference Augsburger Linux-Tag, which took place in southern Germany on April 16, 2016. He demonstrated the power and beauty of KDE software on a computer running the latest KDE neon with Plasma 5.6, a Nexus 5 running Plasma Mobile, and an infrared remote control for browsing Plasma Media Center. Feedback on the new Breeze look and feel of Plasma 5 was overwhelmingly positive, while the critics of our “flat design” were happy to hear that we are still shipping the Oxygen style and icons. This allows them to visually transform Plasma 5 into Plasma 4.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>The afternoon meeting with a member of the LiMux project resulted in an invitation to the LiMux Hackfest in May. LiMux is an initiative by the city of Munich to migrate their software systems to FOSS, and they are using Plasma as the desktop. We will collaborate with the project to prepare Plasma 5 for the requirements and challenges they are facing in such a large enterprise deployment.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Plasma Mobile got people excited about the upcoming possibilities: a full-fledged KRunner on a phone, deep KDE Connect integration, and a full Linux stack underneath. The Kirigami UI concepts made people look forward to our gesture-driven user interface. Sceptics of Plasma Mobile were relieved to hear that the platform – which is running Wayland rather than X – helped our Wayland adoption on the desktop, benefiting the entire Plasma stack. Augsburg visitors ranged from a 5-year-old running across the hallway yelling “how cuuuuute” Konqi is, to an elderly man proudly telling his story of how he recently switched from Windows to Linux and enjoys using Plasma and KDE applications. There were also quite a few users of alternative desktop environments and window managers who were glad they can use KDE software like KWin, Kate, and Dolphin outside a full Plasma session.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/augsburger.png" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Augsburger Linux-Infotag 2016</h3>
                                    <p>KDE Booth Guarded by Konqi</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/augsburger.png" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
