---
title: "Become a Supporting Member of the KDE e.V."
layout: page
---

<p>There are many ways to support KDE. Individuals
contribute time and effort to writing the software, promoting
the KDE desktop and otherwise supporting the community. Corporations
contribute their employees time, infrastructure and support
channels to the project. For individuals and corporations
interested in contributing financially to the KDE project
in order to enable developer meetings, community events and
to support the KDE infrastructure, there is the option
of entering into supporting membership of KDE e.V.</p>

<p>By becoming a supporting member of the KDE e.V. you contribute
to the e.V. financially. Through your financial contribution
the KDE e.V. sponsors events such as the KDE developer
sprints, the yearly world meeting Akademy, QA meetings,
scientific research and trade fairs attendance. KDE e.V.
also supports the KDE infrastructure and ensures that the
project runs smoothly on that infrastructure. By supporting
the e.V. you support the KDE project.</p>

<p>As an association, the KDE e.V. has ordinary members from 
the community of KDE developers, translators, users and
contributors. The supporting members play a special role
in enabling the association to meet its financial goals
as a non-profit organization supporting the KDE project.</p>

<p>Supporting members pay a yearly membership fee to the KDE e.V.,
based on corporate or individual membership and the level of
commitment the supporting member wishes to show. The usual
levels of support are</p>

<ul>
<li> Individuals &euro;100 (<a href="https://relate.kde.org/civicrm/contribute/transact?reset=1&id=9">Join the game</a>)</li>
<li> Corporations &euro;1000</li>
</ul>

<p>Supporting members of KDE are entitled to display the
"Member of KDE" logo on their website or in printed materials.</p>

<p>Corporations or individuals wishing to show exceptional
financial commitment to the KDE project may extend their
supporting membership with additional patronage. Patrons
of KDE pay yearly membership fees of:</p>

<ul>
<li>Individuals and small companies &euro;5000</li>
<li>Large corporations &euro;10000</li>
</ul>

<p>These patrons of KDE are entitled to display the exclusive
"Patron of KDE" logo on their website or in printed materials.</p>

<p>Patrons of KDE are further guaranteed a seat on our <a href="/advisoryboard/">Advisory Board</a>
and an invitation to the sponsors dinner at our annual flagship event, <a href="https://akademy.kde.org/">Akademy</a>.
Both present excellent opportunities to network with the other distinguished partners in the KDE ecosystem and
further support the community.</p>

<p>The KDE e.V. is accepted as a tax-exempt non-profit organization by the
German financial authorities. That means that supporting membership fees are tax
deductible for individuals and organizations residing in Germany.</p>

<p>The supporting members of KDE e.V. are subscribed to the
supporting members mailing list so that they can be kept
up-to-date on the activities of the KDE e.V. and be informed
of what their supporting memberships make possible. Supporting
members are invited to attend the annual general assembly
of KDE e.V. at <a href="https://akademy.kde.org">Akademy</a> which has been held
in Germany, Spain, Ireland, Scotland, Belgium, Estonia, Italy, Austria, the Czech Republic and
many other places.</p>

<h2>Become a Supporting Member</h2>
<p>For individuals, we have the <a href="https://relate.kde.org/civicrm/contribute/transact?reset=1&id=9">Join the Game</a>
program. Find more information and sign up on <a href="https://relate.kde.org/civicrm/contribute/transact?reset=1&id=9">the website</a>.</p>

<p>For corporate partners, please see the <a href="/rules/supporting_members/">rules of
procedures for supporting members</a> for details.</p>

<p>If you have decided to become a supporting member, please fill out the <a
href="/resources/supporting_member_application.pdf">application form</a> and <a
href="/contact/">send it to us</a>.</p>

<p>See the <a href="/supporting-members/">list of supporting members</a> to
find out who already is supporting KDE this way.</p>
